--find-links https://download.pytorch.org/whl/cu113/torch/;
torch==1.10.0+cu113; sys_platform== 'win32'
torchvision==0.11.0+cu113; sys_platform=='win32'
torchaudio==0.10.0+cu113; sys_platform=='win32'

torch==1.10.0; sys_platform=="darwin"
torchvision==0.11.0; sys_platform=="darwin"
torchaudio==0.10.0; sys_platform=="darwin"

# Project Requirements
timm==0.4.12
pickle5
scikit-learn
numpy

